    <div class="container">
        <h1>Carrito de Compras</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>${{this.price}} USD</td>
                    <td>{{this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        {{#if products.length}}
        <p>Total del Carrito: ${{totalCartPrice}} USD</p>
        <a class="checkout-button" href="/payment/create-checkout-session">Realizar Compra</a>
        {{else}}
        <p class="empty-cart">El carrito está vacío.</p>
        {{/if}}

        <a class="back-to-shop" href="/products">Volver a la Tienda</a>
    </div>